body{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 3%;
}

#appTitle{
    font-size: clamp(2rem, 10vw, 6rem);
    font-family: monospace;
    color: aliceblue;
}

#division-header-main{
    width: 90%;
    margin-bottom: 5vw;
}

#main{
    margin-top: 2rem;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 4%;
}

#upper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    margin-bottom: 60px;
}

#text{
    width: 60%;
    height: 6vh;
    margin-right: 12%;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 20px;
}

#addBtn{
    display: flex;
    justify-content: center;
    width: fit-content;
    min-width: 70px;
    height: 5vh;
    min-height: 50px;
    padding: 2vw;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: transform 0.1s ease;
    background-color: #8A2BE2;
    overflow: hidden;
}

#addBtn:hover{
    transform: scale(1.1);
}

#content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultTaskNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 10vh;
}

.task{
    color: aliceblue;
    font-size: 2.5rem;
}

.removeBtn{
    font-size: 2vh;
    color: rgb(211, 211, 211);
    width: 8%;
    min-width: fit-content;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(164, 36, 36);
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

.removeBtn:hover{
    background-color: rgb(131, 17, 17);
}
